* {
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}

header::after{
    content: "";
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    z-index: 1;
}

header{
    height: 500px;
    max-height: 50vh;
    background-image: url(conference.jpg);
    background-position: center;
    background-size: cover;

}

header .logo{
    z-index: 2;
}

header .inner{
    margin: auto;
    padding: 20px;
    max-width: 960px;

    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

}
header .text{
    text-align: center;
    font-size: 70px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;    
    text-shadow: 1px -1px 5px #000000;
}

main{
    
    margin: auto;
    padding: 20px;
    max-width: 960px;
}


.step{
    padding-bottom: 15px;
    border-bottom: 1px solid #aaa;
}
.step.active .stepnumber{
    background: #2196F3;
    color: #fff;
}
.steplabel{
    margin-bottom: 25px;
}
.stepnumber{
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background: #aaa;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    float: left;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.steplabel p{
    font-size: 20px;
    padding: 3px 10px;
float: left;
}

.step .form{
    padding: 10px 10px 0 41px;
}

input:not([type=checkbox]), select, button{
    display: block;
    margin-bottom: 15px;
}

input, select{
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

label{
    display: block;
}

button{
    padding: 5px 7px;
    border-radius: 6px;
    border: 1px solid #1976D2;
    background: #2196F3;
    color: #fff;
}

button[disabled]{
    border: 1px solid #555555;
    background: #666666 
}

.clear{
    clear: both;
}
.trip{
    border-left: 2px solid #aaa;
    padding: 15px;
    margin-bottom: 15px;
}

.mt15{
    margin-top: 15px;
}

.step .form{
    display: none;
}

body[data-activestep="1"] .step[data-step="1"] .form {
	display: block;
}

body[data-activestep="1"] .step[data-step="1"] .stepnumber {
	background: #2196F3;
	color: #fff;
}

body[data-activestep="2"] .step[data-step="2"] .form {
	display: block;
}

body[data-activestep="2"] .step[data-step="2"] .stepnumber {
	background: #2196F3;
	color: #fff;
}

body[data-activestep="3"] .step[data-step="3"] .form {
	display: block;
}

body[data-activestep="3"] .step[data-step="3"] .stepnumber {
	background: #2196F3;
	color: #fff;
}

body[data-activestep="4"] .step[data-step="4"] .form {
	display: block;
}

body[data-activestep="4"] .step[data-step="4"] .stepnumber {
	background: #2196F3;
	color: #fff;
}

body[data-activestep="5"] .step[data-step="5"] .form {
	display: block;
}

body[data-activestep="5"] .step[data-step="5"] .stepnumber {
	background: #2196F3;
	color: #fff;
}

body[data-activestep="6"] .step[data-step="6"] .form {
	display: block;
}

body[data-activestep="6"] .step[data-step="6"] .stepnumber {
	background: #2196F3;
	color: #fff;
}

body[data-activestep="7"] .step[data-step="7"] .form {
	display: block;
}

body[data-activestep="7"] .step[data-step="7"] .stepnumber {
	background: #2196F3;
	color: #fff;
}

body[data-activestep="8"] .step[data-step="8"] .form {
	display: block;
}

body[data-activestep="8"] .step[data-step="8"] .stepnumber {
	background: #2196F3;
	color: #fff;
}

body[data-activestep="9"] .step[data-step="9"] .form {
	display: block;
}

body[data-activestep="9"] .step[data-step="9"] .stepnumber {
	background: #2196F3;
	color: #fff;
}

body[data-activestep="10"] .step[data-step="10"] .form {
	display: block;
}

body[data-activestep="10"] .step[data-step="10"] .stepnumber {
	background: #2196F3;
	color: #fff;
}